.DS_Store
.idea/
.vscode/

/.ddev/db.sql.gz
/database-clean.sql.gz
/public-files-clean.tar.gz
/private-files-clean.tar.gz

/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/libraries/
!/web/libraries/
!/web/libraries/jquery.intl-tel-input/
!/web/libraries/jquery.intl-tel-input/**

/web/sites/*/files/
!/web/sites/default/files/
/web/sites/default/files/*
!/web/sites/default/files/sync/
!/web/sites/default/files/sync/**
/web/sites/simpletest/

/web/sites/*/settings.php
/web/sites/*/settings.local.php
/web/sites/*/settings.*.php
/web/sites/*/services.yml
/web/sites/*/services.local.yml

/private-files/

/phpunit.xml
/phpunit.xml.dist

/node_modules/
/coverage/

/backups/
/scripts/debug_*.php

/docs/*.rtf
